/* LAST */
@charset "utf-8";

#logo {
    width:176px;
    height:132px;
    text-indent:-999px;
    background-image: url(../resource/virtual_Images/CI_TITLE.png);
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}


.title_style {
    color:#3f3c30;
    padding-top: 10px;
}


/*******************************************
*                                          *
* fotorama 캡션 가운데 정렬 ****************
*                                          *
*******************************************/
.fotorama__caption{
	text-align:center;
}

.img_src {

	content:url("../resource/virtual_images/fotorama_images/1.jpg");
}

		


/*******************************************
*                                          *
* 대학소개 페이지 id="Introduction" 설정   *
*                                          *
*******************************************/
/* 학교소개 제목라인 **/
#title{
    color:#000000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 학교소개의 이미지 */
#pic_univ {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	transition: width 0.5s;
	-webkit-transition: width 0.5s; /* 사파리 크롬 */
	-moz-transition: width 0.5s;    /* 파이어 폭스 */
	-o-transition: 0.5s;            /* 오페라      */

}


.small {
    width:30%;
    border-radius: 60px 0px 60px 60px;
}


.large {
    width:100%;
    border-radius: 60px 0px 60px 0px;
}

.clear_both {
    clear:both;
}

.bold_style {
    font-weight:bold;
    color:#950000;
}

/*******************************************
*                                          *
* 홍보 동영상 페이지 id="Introduction" 설정   *
*                                          *
*******************************************/

#videoClip {
	
	width:100%;

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;	
}

#video_canvas {
	
	margin-top:0px;
	margin-right:auto;
	margin-bottom:0px;
	margin-left:auto;
	
}


.content_style {
		padding-right:15px;
		padding-left:15px;	
}


/*******************************************
*                                          *
* 지도표시 map2.html 페이지 설정   *
*                                          *
*******************************************/

.map_style {

    padding:0px;
    height:100%;
    width:100%;
}








